# Python Riddles

In [22]:
# all necessary imports
import numpy as np

Give a sum of all odd numbers from 1 to 100 inclusive. (one-liner)

In [23]:
sum([i for i in range(1,101) if i%2==1])

2500

Sum all integers within the range `i = 1â€¦1000` inclusive. If the number `i` is a multiple of 3 or 5, double it and add it to the sum. (one-liner)

In [24]:
sum([2*i for i in range(1,1001) if i%3==0 or i%5==0]) + sum([i for i in range(1,1001) if not i%3==0 and not i%5==0])

734668

Try to find maximum value of pair over given lists (you can't use numpy!) (one-liner).

```
a = [3, 1, 5, 3, 4, 7, 8,  11]
b = [0, 2, 2, 0, 4, 9, 99, 10]
```

In [25]:
a = [3, 1, 5, 3, 4, 7, 8,  11]
b = [0, 2, 2, 0, 4, 9, 99, 10]
list(map(lambda pair: max(pair), zip(a, b)))

[3, 2, 5, 3, 4, 9, 99, 11]

Assign to a, b, c three multiples of 17 from range 100 to 150. (one-liner)

In [26]:
a, b, c = [i for i in range(100,150) if i%17==0]

Print each char as many times as given value in alphabetical order. (one-liner)
```
m = {'a': 1,  'c': 3, 'b': 2, 'd': 4}
```

In [27]:
m = {'a': 1, 'b': 2, 'c': 3, 'd': 4}
for k,v in sorted(m.items()): print(k*v)

a
bb
ccc
dddd

Seprate int from chars in `[(1, 'a'), (2, 'b'), (3, 'c')]`. (one-liner)

In [28]:
x = [(1, 'a'), (2, 'b'), (3, 'c')]
list(zip(*x))

[(1, 2, 3), ('a', 'b', 'c')]

Invert given dictionary: (one-liner)
```
d = {'a': 1, 'b': 2, 'c': 3, 'd': 4}
```

In [29]:
d = {'a': 1, 'b': 2, 'c': 3, 'd': 4}
{d[k]:k for k in d}

{1: 'a', 2: 'b', 3: 'c', 4: 'd'}

Write a function to group `k` adjacent list items together. (one-liner)

You may test it on:
```
a = [1, 2, 3, 4, 5, 6]
```

In [30]:
a = [1, 2, 3, 4, 5, 6]
group = lambda a, k: list(zip(*([iter(a)] * k)))
group(a, 2)

[(1, 2), (3, 4), (5, 6)]

Flatten a list of lists `[[1, 2], [3, 4], [5, 6]]`. (one-liner)

In [31]:
a = [[1, 2], [3, 4], [5, 6]]
sum(a, [])

[1, 2, 3, 4, 5, 6]

Write a function writing to terminal histogram of given numbers. For example for numbers `[3, 6, 4]` it should look like:
```
***
******
****
```
(2/3 lines)

In [32]:
def txthist(x):
    for i in x: print('*'*i)

txthist([3, 6, 4])

***
******
****

Print every second letter from a string `a` in reversed order. (one-liner)

In [33]:
a = "abcdefghij"
a[::2][::-1]

'igeca'

Exchange every "a" letter in string with "duck". (one-liner)

In [4]:
a = "annapurna"
"".join(["duck" if i=="a" else i for i in a])
"duck".join(a.split("a"))

'ducknnduckpurnduck'

Print letter as many times as the number on its right says for string : `a3,f8,g1,h7,o2`. (one-liner)
e.g. for `a2,b5` result should be:
```
aa
bbbbb
```

In [16]:
for x in 'a3,f8,g1,h7,o2'.split(","): print(x[0]*int(x[1]))

aaa
ffffffff
g
hhhhhhh
oo