# Python Riddles

In [1]:
# all necessary imports
import numpy as np

Give a sum of all odd numbers from 1 to 100 inclusive. (oneliner)

In [7]:
sum([i for i in range(1,101) if i%2==1])

2500

Sum all integers within the range i = 1â€¦1000 inclusive. If that number i is a multiple of 3 or 5, double it and add it to the sum. (oneliner)

In [9]:
sum([2*i for i in range(1,1001) if i%3==0 or i%5==0]) + sum([i for i in range(1,1001) if not i%3==0 and not i%5==0])

734668

Try to find maximum value of pair over given lists (you can't use numpy!) (oneliner).

```
a = [3, 1, 5, 3, 4, 7, 8,  11]
b = [0, 2, 2, 0, 4, 9, 99, 10]
```

In [13]:
a = [3, 1, 5, 3, 4, 7, 8,  11]
b = [0, 2, 2, 0, 4, 9, 99, 10]
list(map(lambda pair: max(pair), zip(a, b)))

[3, 2, 5, 3, 4, 9, 99, 11]

Assign to a, b, c three multiples of 17 from range 100 to 150. (oneliner)

In [5]:
a, b, c = [i for i in range(100,150) if i%17==0]

Print each char as many times as given value in alphabetical order. (oneliner)
```
m = {'a': 1,  'c': 3, 'b': 2, 'd': 4}
```

In [10]:
m = {'a': 1, 'b': 2, 'c': 3, 'd': 4}
for k,v in sorted(m.items()): print(k*v)

a
bb
ccc
dddd

Seprate int from chars in `[(1, 'a'), (2, 'b'), (3, 'c')]`. (oneliner)

In [13]:
x = [(1, 'a'), (2, 'b'), (3, 'c')]
list(zip(*x))

[(1, 2, 3), ('a', 'b', 'c')]

Invert given dictionary: (oneliner)
```
d = {'a': 1, 'b': 2, 'c': 3, 'd': 4}
```

In [23]:
d = {'a': 1, 'b': 2, 'c': 3, 'd': 4}
{d[k]:k for k in d}

{1: 'a', 2: 'b', 3: 'c', 4: 'd'}

Write a function to group `k` adjacent list items together. (oneliner)

You may test it on:
```
a = [1, 2, 3, 4, 5, 6]
```

In [20]:
a = [1, 2, 3, 4, 5, 6]
group = lambda a, k: list(zip(*([iter(a)] * k)))
group(a, 2)

[(1, 2), (3, 4), (5, 6)]

Flatten a list of lists `[[1, 2], [3, 4], [5, 6]]`. (oneliner)

In [26]:
sum(a, [])

[1, 2, 3, 4, 5, 6]